.card {
  flex: 1;
}

ul {
  list-style: none;
}

ul li div {
  display: flex;
}

.heading {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1px;
  box-sizing: border-box;
}

.banner {
  margin-bottom: 0 !important;
}
